<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Well.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Well.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#FF008000</value>
            </setting>
            <setting name="SelectColor" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>Ukrainian</value>
            </setting>
            <setting name="Difficulty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompactMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WrongColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="CasualBorderColor" serializeAs="String">
                <value>#FF008000</value>
            </setting>
            <setting name="DeckLightningColor" serializeAs="String">
                <value>#FF0000FF</value>
            </setting>
            <setting name="SuccessColor" serializeAs="String">
                <value>#FF006400</value>
            </setting>
            <setting name="BackSuitSelectedNumber" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NumberOfCancellations" serializeAs="String">
                <value>OneCancellationEnable</value>
            </setting>
            <setting name="CardStyleSelectedNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZeroCardSelectedNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmptyCardSelectedNumber" serializeAs="String">
                <value>0</value>
            </setting>
        </Well.Properties.Settings>
    </userSettings>
</configuration>